*, *::before, *::after {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

.not_clicable {
  pointer-events: none;
}

body {
  background: rgb(211,255,250);
  background: -moz-linear-gradient(137deg, rgba(211,255,250,1) 0%, rgba(110,112,255,1) 42%, rgba(132,255,237,1) 100%);
  background: -webkit-linear-gradient(137deg, rgba(211,255,250,1) 0%, rgba(110,112,255,1) 42%, rgba(132,255,237,1) 100%);
  background: linear-gradient(137deg, rgba(211,255,250,1) 0%, rgba(110,112,255,1) 42%, rgba(132,255,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d3fffa",endColorstr="#84ffed",GradientType=1);
  color: white;
  font: arial;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: auto 30em auto;
  grid-template-rows: 1em auto 6px;
  column-gap: 10px;
  row-gap: 1em;
  /* border: 2px solid blue; */
}

.box_in_box {
  display: grid;
  grid-template-columns: auto 90% auto;
  /* border: 2px solid blue; */
}

.box {
  background-color: rgba(38, 43, 66, 0.582);
  border-radius: 1rem;
  /* border: 2px solid black; */
}

a {
  color: rgb(92, 248, 248);
}

a:hover {
  color: rgb(59, 158, 158);
  text-decoration: none;
}

a:active {
  color: rgb(44, 124, 124);
}

.button-slyled_link {
  border: 0;
  font-size: 1rem;
  text-align: center;
  color: rgb(92, 248, 248);
  border-radius: 10px;
  background-color: rgb(0 0 0 / 0%);
}

.button-slyled_link:hover {
  color: rgb(59, 158, 158);
}

.button-slyled_link:active {
  color: rgb(44, 124, 124);
}

.button-slyled_link_not_clicable {
  pointer-events: none;
  border: 0;
  font-size: 1rem;
  text-align: center;
  color: rgb(44, 124, 124);
  border-radius: 10px;
  background-color: rgb(0 0 0 / 0%);
}

.ninja_link {
  color: white;
  cursor: default;
}

.ninja_link:hover {
  color: white;
  text-decoration: none;
  cursor: default;
}

.ninja_link:active {
  color: white;
  cursor: default;
}

.text-field {
  margin-bottom: 1rem;
}

.text-field__label {
  display: block;
  margin-bottom: 0.25rem;
}

.text-field__input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input_status {
  text-align: center;
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.box_center {
  justify-content: center;
  /* border: 2px solid green; */
}